
/* history headr  */
.history-header{
    background-color: rgb(221, 218, 214);
}
.history{
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history div{
    background-color: rgba(0, 0, 0, 0.79);
    width: 62%;
    
}
.history div p{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    align-items: center;
    position: static;
   left: -9rem;
    top: 25rem;
    right: 0px;
    bottom: 0px;
    display: block;
    padding: 25px 50px 50px;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.history figure{
    width: 35%;
    /* flex-direction: column; */
}
.history div h1{
    font-family: 'Playfair Display', serif;
    color: #bc9668;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    padding: 0px 50px;;
    
}
/* mission */
.mission-header{
    background-image: url("https://scontent.flim5-4.fna.fbcdn.net/v/t1.0-9/p720x720/75242030_813175509114770_7047337069768605696_o.jpg?_nc_cat=108&_nc_ohc=quiNnOgICvsAQkVsnw_EzviRH-VYHJkW_zJ6VLSM5GFDRnlTvaZbdbxbQ&_nc_ht=scontent.flim5-4.fna&oh=733b6fe63a20c18ea149e28acf1a22dc&oe=5E4945E5");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.mission-header:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.mission{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-around;
}
.mission div{
    width: 50%;
    max-width: 100%;
    border-radius: 8px;
    position: relative;
}

.mission div p{
    /* font-family: 'Playfair Display', serif; */
    font-style: normal;
    color: #ffffff;;
    align-items: center;
    position: static;
   left: -9rem;
    top: 25rem;
    right: 0px;
    bottom: 0px;
    display: block;
    padding: 25px 50px 50px;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.mission figure {
    width: 45%;
}
.mission figure img{
    border-radius: 5px;
}
.mission div h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #bc9668;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    padding: 0px 50px;;
    
}
/* view-header  */
.view-header{
    background-color: rgb(221, 218, 214);
}
.view{
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.view div{
    background-color: rgba(0, 0, 0, 0.79);
    width: 50%;
    border-radius: 8px;
    
}
.view div p{
    /* font-family: 'Playfair Display', serif; */
    font-style: normal;
    color: #ffffff;
    align-items: center;
    position: static;
   left: -9rem;
    top: 25rem;
    right: 0px;
    bottom: 0px;
    display: block;
    padding: 25px 50px 50px;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.view figure iframe{
    max-width: 100%;
    border-radius: 8px;
    position: relative;
}
.view div h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #bc9668;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    padding: 0px 50px;;
    
}
@media screen and (max-width: 870px){
    .history{
        height: 1000px;
        flex-direction: column;
        justify-content: space-around;
        /* text-align: center; */
    }
    .history figure{
        width: 55%;
    }
    .history div{
        width: 100%;
    }
    .history img:nth-child(2){
        display: none;
    }
    .view{
        padding-top: 10px;
        padding-bottom: 20px;
        height: 800px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .view div{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    /* history  */
    .history div h1{
        font-size: 2rem;
        margin-bottom: 0.5px;
    }
    /* mission  */
    .mission div{
        width: 100%;

    }
    .mission figure{
        width: 60%;
    }
}
@media screen and (max-width: 733px){
    .history{
        height: 1100px;
    }
    .history figure{
        width: 55%;
    }
}
@media screen and (max-width: 686px){
        .history img:nth-child(2){
            margin-left: 20px;
        }
}
@media screen and (max-width: 660px){
    .view{
        height: 850px;
    }
}
@media screen and (max-width: 612px){
    .history{
        height: 1200px;
    }
    .history figure{
        width: 60%;
    }
}
@media screen and (max-width: 580px){
    .history div{
        font-size: 15px;
    }
}
@media screen and (max-width: 515px){
    .view figure{
        height: 480px;
    }
    .view{
        height: 900px;
        justify-content: center;
    }
}
@media screen and (max-width: 542px){
    .history{
        height: 1250px;
    }
}
@media screen and (max-width: 503px){
    .history{
        height: 1300px;
    }
}
@media screen and (max-width: 484px){
    .history{
        height: 1350px;
    }
}
@media screen and (max-width: 467px){
    .history{
        height: 1400px;
    }
}
@media screen and (max-width: 455px){
    .history{
        height: 1450px;
    }
    .mission div p{
        font-family: 'Playfair Display', serif;
        font-style: normal;
        
       left: 0rem;
        top: 0rem;
        right: 0px;
        bottom: 0px;
        display: block;
        /* padding: 25px 50px 50px; */
        /* float: left; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
}
@media screen and (max-width: 435px){
    .history{
        height: 1550px;
    }
}
@media screen and (max-width: 408px){
    .history{
        height: 1650px;
    }
        .view figure{
            height: 400px;
        }
    
}
@media screen and (max-width: 391px){
    .history{
        height: 1800px;
    }
}
@media screen and (max-width: 365px){
    .history{
        height: 2000px;
    }
}
@media screen and (max-width: 342px){
    .history{
        height: 2100px;
    }
}